.navbar {
    background-color: #222;
    font-size: larger;
    opacity: 50%;
    position:fixed;
    width: 100%;
   
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff;
    margin-left: 0px;
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #ffc107;
  }
  .robot-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c0c0c0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  body {
    background-color: #f2f2f2; /* Replace with your desired background color */
    margin-bottom: 80px; /* Adjust the margin-bottom value to match the height of your sticky footer */
  }
  #about{
    background-color: #f2f2f2;
    padding: 40px 0;
    align-items: center;
    
  }
  
  #achievements {
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  
  #skills {
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  
  #contact {
    background-color: #f2f2f2;
    padding: 40px 0;
    font-size: 20px;
  }
  
  .achievements-content,
  .contact-content {
    display: flex;
    align-items: center;
  }
  
  
  .image-container {
    flex: 0 0 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    border: 5px solid #000;
    box-shadow: 4px 4px rgb(77, 2, 2);
    align-content: center;
    display: flex;
    width: 25%;
    aspect-ratio: 1/1; /* Maintain the aspect ratio for a circular shape */
  }
  
  
  
  .image-container img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  
  .text-container {
    flex: 1;
    width:75%;
  }
  
  .text-container h2 {
    font-size: 24px;
   
  }
  
  .text-container p {
    font-size: 16px;
    line-height: 1.6;
    
  }
 

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust this value according to your footer's height */
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }
  
  .social-icon {
    display: inline-block;
    margin-right: 30px;
    color: white;
    font-size: 18px;
    width:50px;
    height:auto;
  }
  
  .footer-text {
    margin: 0;
    color:white;
    font-size: 14px;
  }
.skill-content {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to multiple rows */
}

.skill-container {
  width: calc(25% - 50px); /* Adjust width to fit 4 elements with margin */
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 50px;
  margin-bottom: 20px; /* Add margin bottom for spacing */
  border: 5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.skill-container img{
  width:100px;
  height: auto;
}


@media (max-width: 900px) {
  .skill-container {
    width: calc(50% - 50px); /* Adjust width for two elements per row */
  }
  
}

@media (max-width: 700px) {
  .skill-container {
    width: calc(100% - 50px); /* Adjust width for two elements per row */
  }
  
}

.about-content{
  display:flex;
  flex-wrap:wrap;
}
@media (max-width: 900px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    order: -1; /* Move the image container to the top */
  }

  .text-container {
    text-align: center;
  }
}
